body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 90vw;
    
    background: url('bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:root {
    --bg-color: rgb(31, 36, 45);
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

#calculator {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--bg-color);
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid var(--main-color);
    color: white;
}

button {
    width: 48px;
    height: 48px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.operator {
    background-color: #f0f0f0;
}

button.equal {
    background-color: #4caf50;
    color: #fff;
}
